@model IEnumerable<WebSach.Models.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WebAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permission_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permission_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_Id })
        </td>
    </tr>
}

</table>
