@model WebSach.Models.Chapter

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/WebAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chapter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chapter_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chapter_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chapter_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chapter_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Chapter_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
