@model IEnumerable<WebSach.Models.Chapter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WebAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chapter_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Chapter_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Chapter_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Chapter_Id })
        </td>
    </tr>
}

</table>
